/* Css reset */
*{
    /* padding: 0; */
    margin: 0;
    box-sizing:border-box;
    /* border: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar class */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-size: cover;
    background-image: url("amazon_logo.png");
    width: 100%;
    height: 50px;
}
.border{
    border: 1.3px solid transparent;
}
.border:hover{
    border: 1.3px solid white;
}
/* box 2 */
.add-icon{
    display: flex;
    align-items: center;
}
/* add one class */
.add-one{
    color:#cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin: 3.5px;
}
/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:skyblue;
    width: 550px;
    height: 41px;
    border-radius: 3.5px;
    /* border: none; */
}
.nav-search:hover{
    border: 2px solid #febd68 ;
}
.select-search{
    background-color: #f3f3f3;
    width: 52px; 
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 4.2px;
    border-bottom-left-radius: 4.2px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    font-size: 1.5rem;
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd68;
    border-top-right-radius: 4.2px;
    border-bottom-right-radius: 4.2px;
    color: black;
}
/* box 4 */
span{
    font-size: 0.8rem;
}
.nav-second{
    font-size: 0.95rem;
    font-weight: 700;
}
/* box 5 */
/* for navbar cart */
.nav-cart i{
    font-size: 29px;
    /* height: 340px; */
}
.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}
/* panel */
.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 41px;
}
/* panel anchor */
.panel a{
    color: white;
    text-decoration: none;
    /* margin-left: 3px; */
    margin-left: 16.5px;
}
.panel-options{
    width: 71%;
    font-size: 0.9rem;
}
.panel-deals{
    font-size: 0.99rem;
    font-weight:700;
}
/* hero section */
.hero-section{
    background-image: url("Hero_image2.jpg");
    height: 370px;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    width: 90%;
    background-color: rgb(163, 158, 158);
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
    /* opacity: 0.97; */
}
.hero-msg a{
    text-decoration: none;
    color: #007185;
    color: white;
    font-weight: 600;
    
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23.5%;
    height: 400px;
    margin-top: 16px;
    padding: 10px 0px;
    background-color: white;
}
.box-image{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}
.box-content{
    margin-right: 1rem;
    margin-left: 1rem;
}
.box-content a{
    color:#007185;
    text-decoration: none;
}
footer{
    margin-top: 20px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.foot-panel-2{
    background-color:#222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 24px;
}
ul p{
    font-weight: 700;
}
ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 12px;
}
.foot-panel-3{
    background-color:#222f3d ;
    color: white;
    border-top: 0.6px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 150px;
    height: 72px;
  
}
.foot-panel-4{
 background-color: #0f1111;   
 color: white;
 font-size: 0.85rem;
text-align: center;
 /* display: flex;
 align-items: center;
 justify-content: center; */
 height: 75px;
}
/* for options */
.options{   
    padding-top: 15px;
}
.options a{
    text-decoration: none;
    color:white;
    padding-left: 7px;
}
/* .options a:hover{
    text-decoration: underline;
} */
a:hover{
    text-decoration: underline;
}
.copyrights{
    padding-top: 7px;

    text-align: center;
}
